In [1]:
from os.path import join

import h5py
import numpy as np
import pandas as pd

In [4]:
from small_labs import sl_to_df

In [6]:
help(sl_to_df)

Help on function sl_to_df in module small_labs:

sl_to_df(sl_object)
    Convert SMALL-LABS object read from .mat to pandas DataFrame.

    Parameters
    ----------
    sl_object : SMALL-LABS data object, a .mat file read using h5py

    Returns
    -------
    pd.DataFrame

In [7]:
fld = r'T:\MIGRATED\Lab_Members\Daniel_Foust\Data\RNA-DNA Hybrids\LVG152 rnhC-PAmCherry\2022-10-15 rnhc\0.531mW'
fname = r'bsub_rnhc-pamch_531uW_001_guesses.mat'

obj = h5py.File(join(fld, fname))

sl_to_df(obj)

       frame   row   col  roinum
0        4.0  37.0  32.0       1
1        5.0  66.0  85.0       3
2        6.0  42.0  48.0       1
3        7.0  61.0  34.0       2
4        8.0  42.0  46.0       1
...      ...   ...   ...     ...
5215  4453.0  48.0  75.0       2
5216  4454.0  42.0  50.0       1
5217  4455.0  43.0  26.0       1
5218  4455.0  57.0  52.0       2
5219  4456.0  31.0  56.0       1

[5220 rows x 4 columns]

In [9]:
from small_labs import sl_to_df_batch
help(sl_to_df_batch)

Help on function sl_to_df_batch in module small_labs:

sl_to_df_batch(objs_sl: list)
    Parameters
    ----------
    objs_sl : list (or other iterable)
        SMALL-LABS objects to be converted to pandas DataFrames.

    Returns
    -------
    list
        Each element is pd.DataFrame

In [12]:
from glob import glob

objs = [h5py.File(f) for f in glob(join(fld, '*_guesses.mat'))]
sl_to_df_batch(objs)

[       frame   row   col  roinum
 0        4.0  37.0  32.0       1
 1        5.0  66.0  85.0       3
 2        6.0  42.0  48.0       1
 3        7.0  61.0  34.0       2
 4        8.0  42.0  46.0       1
 ...      ...   ...   ...     ...
 5215  4453.0  48.0  75.0       2
 5216  4454.0  42.0  50.0       1
 5217  4455.0  43.0  26.0       1
 5218  4455.0  57.0  52.0       2
 5219  4456.0  31.0  56.0       1

 [5220 rows x 4 columns],
        frame    row   col  roinum
 0        1.0   13.0  23.0       1
 1        1.0   66.0  28.0       1
 2        1.0  131.0  38.0       2
 3        2.0   74.0  31.0       1
 4        3.0   96.0  37.0       2
 ...      ...    ...   ...     ...
 5834  4123.0   47.0  38.0       1
 5835  4125.0  114.0  41.0       2
 5836  4126.0  136.0  53.0       2
 5837  4127.0   54.0  26.0       1
 5838  4128.0   60.0  27.0       1

 [5839 rows x 4 columns],
        frame   row    col  roinum
 0        1.0  31.0  105.0       2
 1        2.0  24.0  129.0       2
 2        2.0  40.0  138.0       2
 3        4.0  40.0   82.0       1
 4        4.0  50.0  106.0       3
 ...      ...   ...    ...     ...
 6194  4380.0  49.0   76.0       1
 6195  4380.0  46.0  150.0       3
 6196  4381.0  57.0  119.0       3
 6197  4382.0  53.0  103.0       3
 6198  4383.0  51.0  127.0       3

 [6199 rows x 4 columns],
        frame    row   col  roinum
 0        1.0   43.0  28.0       1
 1        1.0   86.0  34.0       1
 2        1.0   68.0  40.0       1
 3        1.0   75.0  96.0       2
 4        2.0   45.0  61.0       2
 ...      ...    ...   ...     ...
 5632  4443.0   85.0  24.0       1
 5633  4443.0   48.0  74.0       2
 5634  4446.0   51.0  38.0       1
 5635  4447.0  104.0  26.0       1
 5636  4448.0   45.0  33.0       1

 [5637 rows x 4 columns],
        frame   row   col  roinum
 0        1.0  86.0  45.0       3
 1        1.0  34.0  64.0       1
 2        3.0  84.0  45.0       3
 3        3.0  33.0  67.0       1
 4        3.0  39.0  76.0       4
 ...      ...   ...   ...     ...
 9478  4456.0  36.0  46.0       1
 9479  4456.0  31.0  55.0       1
 9480  4457.0  72.0  35.0       3
 9481  4457.0  28.0  49.0       1
 9482  4457.0  27.0  66.0       1

 [9483 rows x 4 columns],
        frame    row   col  roinum
 0        1.0   23.0  47.0       1
 1        1.0  114.0  63.0       3
 2        2.0  128.0  46.0       3
 3        3.0  142.0  33.0       4
 4        3.0   44.0  54.0       1
 ...      ...    ...   ...     ...
 6531  4453.0   59.0  69.0       2
 6532  4454.0   98.0  61.0       3
 6533  4455.0  123.0  46.0       3
 6534  4456.0   77.0  74.0       2
 6535  4457.0  144.0  38.0       4

 [6536 rows x 4 columns],
        frame   row   col  roinum
 0        1.0  66.0  29.0       3
 1        1.0  25.0  50.0       2
 2        3.0  67.0  25.0       3
 3        4.0  70.0  23.0       3
 4        5.0  87.0  28.0       1
 ...      ...   ...   ...     ...
 7196  4450.0  28.0  64.0       2
 7197  4451.0  87.0  49.0       1
 7198  4452.0  36.0  72.0       2
 7199  4453.0  30.0  94.0       2
 7200  4454.0  88.0  37.0       1

 [7201 rows x 4 columns]]

In [13]:
from small_labs import slfile_to_csv
help(slfile_to_csv)

Help on function slfile_to_csv in module small_labs:

slfile_to_csv(file_sl, file_csv=None, ext='.csv', folder_dest=None)
    Reads SMALL-LABS .mat file and saves as .csv file.

    Parameters
    ----------
    file_sl : str
        .mat filename.
    file_csv : str, optional
        Name of new file where data is to be stored as .csv
    ext : str, optional
        Bit of text added to end of new .csv name. Default is '.csv'.
    folder_dest : str, optional
        Destination folder. If none provided, .csv saved in origin folder.

    Returns
    -------
    None

In [16]:
slfile_to_csv(join(fld, fname), ext='lala.csv', folder_dest=join(fld, 'testsub'))

In [17]:
from small_labs import slfile_to_csv_batch
help(slfile_to_csv_batch)

Help on function slfile_to_csv_batch in module small_labs:

slfile_to_csv_batch(folder_sl, pattern_sl='*_fits.mat', ext='.csv', folder_dest=None)
    Converts SMALL-LABS files to csv.

    Parameters
    ----------
    folder_sl : str
        Folder containing .mat files to be converted to .csv.
    pattern_sl : str, optional
        Pattern used to identify files to be converted.
    ext : str, optional
        Bit of text added to end of new .csv names. Default is '.csv'.
    folder_dest : str, optional
        Destination folder. If none provided, .csv saved in origin folder.

    Returns
    -------
    None

In [4]:
from small_labs import df_to_sl
help(df_to_sl)

Help on function df_to_sl in module small_labs:

df_to_sl(df, col_mapper=None)
    Convert pandas DataFrame to SMALL-LABS .mat format.

    Parameters
    ----------
    df : pd.DataFrame
    col_mapper : dict
        Keys are columns in df, values are new names in SMALL-LABS format. Used if, for example,
        columns in df, 'x' and 'y', need to be re-labeled 'col' and 'row', respectively,
        for use in NOBIAS.
        Example:
            col_mapper = {'x': 'col', 'y': 'row', 'n': 'track_id', 'rois': 'roinum}

        Columns 'frame', 'row', 'col', 'track_id', and 'roinum' are required to generate tracks.

    Returns
    -------
    data_sl : dict
        Orgainized like SMALL-LABS data structure.
        First level keys: 'fits', 'tracks'.
        Second level: 'fits' additional keys matching columns in df after renaming.

In [2]:
fld = r'T:\MIGRATED\Lab_Members\Daniel_Foust\Data\RNA-DNA Hybrids\LVG152 rnhC-PAmCherry\2022-10-15 rnhc\0.531mW\palmari-default'
fname = r'bsub_rnhc-pamch_531uW_001.locs'
df = pd.read_csv(join(fld, fname), index_col=0)
df

,frame,y,x,I0,bg,error_flag,snr,y_detect,x_detect,t,rois,n
0,5,2.254952,1.917041,28255.392857,694.732143,True,361.039715,46.0,39.0,0.20,1,0.0
1,48,1.369343,1.982213,11776.632374,644.285714,False,142.961058,28.0,39.0,1.92,1,1.0
2,123,3.274933,2.370284,26649.678571,743.339286,True,326.044429,66.0,49.0,4.92,2,68.0
3,124,3.136680,2.375503,15690.480579,879.803571,False,55.965166,63.0,48.0,4.96,2,68.0
4,125,3.078150,2.293997,12131.697923,807.625000,False,56.068372,63.0,46.0,5.00,2,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...
601,4397,2.456563,1.932621,28522.000000,651.250000,True,804.833067,50.0,40.0,175.88,1,65.0
602,4401,2.432321,1.951676,20121.321429,713.107143,True,201.270028,50.0,40.0,176.04,1,66.0
603,4431,2.532735,1.877803,31174.125000,693.625000,True,513.063374,52.0,39.0,177.24,1,67.0
604,4448,2.296692,3.037002,22886.428571,634.571429,True,810.385803,46.0,62.0,177.92,2,125.0
605,4452,3.590581,2.332949,-203.432127,642.160714,False,0.057540,73.0,47.0,178.08,2,128.0

In [5]:
mapper = {'y': 'row', 'x': 'col', 'n': 'track_id', 'rois': 'roinum'}
data_sl = df_to_sl(df, col_mapper=mapper)
data_sl.keys()

dict_keys(['fits', 'tracks'])

In [6]:
data_sl['fits'].keys()

dict_keys(['frame', 'row', 'col', 'I0', 'bg', 'error_flag', 'snr', 'y_detect', 'x_detect', 't', 'roinum', 'track_id'])

In [7]:
from small_labs import save_sl_fits
help(save_sl_fits)

Help on function save_sl_fits in module small_labs:

save_sl_fits(data_sl, file_sl)
    Save dict structured SMALL-LABS-like as .mat. Wrapper around hdf5storage.savemat.

    Parameters
    ----------
    data_sl : dict
    file_sl : name of file where data_sl is to be save. Should end with '.mat'.

    Returns
    -------
    None

In [8]:
save_sl_fits(data_sl, join(fld, 'test.mat'))